@page "/product-edit"
@page "/product-edit/{Name}"


<head>
    <style>
        .alert-success {
            background-color: green;
            color: white;
            border: 2px solid black;
            margin: 20px;
            padding: 20px;
        }

        .alert-danger {
            background-color: tomato;
            color: black;
            border: 2px solid black;
            margin: 20px;
            padding: 20px;
        }
    </style>
</head>

@if (_product != null)
{

    <section >
        <h1 class="page-title">
            @(_product.Name is null? "New Product": "Edit Product")
        </h1>
        <EditForm Model="@_product"
                  OnValidSubmit="@HandleValidSubmit"
                  OnInvalidSubmit="@HandleInvalidSubmit">

            <DataAnnotationsValidator />

            <div class="container mt-5">

                <div class="row">
                    <label for="itName">Name:</label>
                </div>
                <div class="row">
                    <InputText id="itName" class="form-control"
                               @bind-Value="@_product.Name"
                               placeholder="Enter product name..." />
                    <ValidationMessage For="@(()=>_product.Name)" />
                </div>

                <div class="row mt-2">
                    <label for="itDepartment">Department:</label>
                </div>
                <div class="row">
                    <InputText id="itDepartment" class="form-control"
                               @bind-Value="@_product.Department"
                               placeholder="Enter product Department...">
                    </InputText>
                </div>

                <div class="row justify-content-end mt-3">
                        <button type="submit" class="btn btn-primary fas fa-save"
                                data-toggle="tooltip" title="save" />

                        <button class="btn btn-primary fas fa-window-close ml-2"
                                data-toggle="tooltip" title="Cancel"
                                @onclick="@OnCancelCmd" />
                </div>
            </div>

        </EditForm>

    </section>
    @if (!string.IsNullOrEmpty(Message))
    {
        <p class="@StatusClass">@Message</p>
    }

    }


