@page "/shoppinglists"

<style scoped>
    .iconbutton {
        width: 48px !important;
    }
</style>

@if (_shoppingList == null)
{
    <h1>Products</h1>
    <p><em>Loading...</em></p>
}
else
{

    <div class="container">
        <h1>
            <span>Shopping Lists</span>
            <button style="" class="btn btn-primary table-btn fas fa-sync  iconbutton"
                    @onclick="@RefreshCmd"/>
        </h1>
    </div>
    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var shoppingList in _shoppingList)
                {
                    <tr>
                        <td>@shoppingList.Name</td>
                        <td>@shoppingList.Created</td>
                        <td>

                            <a href="@($"shoppinglist-edit/{shoppingList.Id}")" class="btn btn-primary table-btn  iconbutton" 
                               data-toggle="tooltip" title="Edit">
                                <i class="fas fa-edit" />
                            </a>
                            <button class="btn btn-primary table-btn  iconbutton"
                               data-toggle="tooltip" title="Delete"    
                                    @onclick="@(_ => ShowDeleteShoppingListCmd(shoppingList))">
                                <i class="fas fa-trash" />
                            </button>

                        </td>
                    </tr>
                }
                <tr>
                    <td />
                    <td />
                    <td>
                        <a href="product-edit" class="btn btn-primary table-btn fas fa-plus-square  iconbutton" />
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
}

<ConfirmShoppingListDelete @ref="ConfirmShoppingListDeleteDialog" 
                      ConfirmShoppingListDeleteCallBack="@ShoppingListDeleteCallBack"/>
