@page "/shoppinglist-edit"
@page "/shoppinglist-edit/{strId}"


<head>
    <style>
        .alert-success {
            background-color: green;
            color: white;
            border: 2px solid black;
            margin: 20px;
            padding: 20px;
        }

        .alert-danger {
            background-color: tomato;
            color: black;
            border: 2px solid black;
            margin: 20px;
            padding: 20px;
        }
    </style>
</head>

@if (_shoppingList!= null)
{

    <section >
        <h2 class="page-title">
            @(_shoppingList.Name is null? "New ShoppingList": "Edit Shopping List")
        </h2>
        <EditForm Model="@_shoppingList"
                  OnValidSubmit="@HandleValidSubmit"
                  OnInvalidSubmit="@HandleInvalidSubmit">

            <DataAnnotationsValidator />

            <div class="container">

                <div class="row mb-5">
                    <div class="col-1">
                        <label for="itName">Name:</label>
                    </div>
                    <div class="col-8">
                        <InputText id="itName" class="form-control"
                                    @bind-Value="@_shoppingList.Name" placeholder="Enter Shopping list name..." />
                        <ValidationMessage For="@(()=>_shoppingList.Name)" />
                    </div>
                    <div class="col-1 float-right">
                        <label for="itDate">Date:</label>
                    </div>
                    <div class="col-2">
                        <InputDate id="itDate" class="form-control" @bind-Value="@_shoppingList.Created"></InputDate>
                    </div>
                </div>

                <div class="mt-5">
                    <ShItemActionableList ActionCallback="@((item)=>RemoveItem(item))" ButtonClass="fa-trash" ShItems="@(_shoppingList.Items.ToList())"/>
                </div>

                <div class="mt-2">
                    <ProductActionableList SelectableProducts="@_selectableProducts"
                                            ActionCallback="@AddItemCallback" 
                                           ButtonClass="fa-bolt"/>
                </div>

                <div class="row justify-content-end mt-5">
                    <button type="submit" class="btn btn-primary fas fa-save" data-toggle="tooltip" title="save" />

                    <button class="btn btn-primary fas fa-window-close ml-2" data-toggle="tooltip" title="Cancel"
                            @onclick="@OnCancelCmd" />
                </div>
            </div>

        </EditForm>

    </section>
    @if (!string.IsNullOrEmpty(Message))
    {
        <p class="@StatusClass">@Message</p>
    }

    }


